@use '../base/config' as con; 
@use '../base/functions' as fun; 
@use '../base/mixins' as mix; 

html, body, *{
    margin: 0;
    padding: 0;
}

.title{
    font-family: con.$fBold;
    font-size: fun.toRem(80);
    line-height: fun.toRem(80);
    color: con.$blueDark;
    @include mix.mq(1023){
        font-size: fun.toRem(50);
        line-height: fun.toRem(50);
    }
}
.subTitle{
    font-family: con.$fMedium;
    font-size: fun.toRem(50);
    line-height: fun.toRem(50);
    color: con.$blueDark;
    @include mix.mq(1023){
        font-size: fun.toRem(30);
        line-height: fun.toRem(30);
    }
}
.small{
    font-family: con.$fMedium;
    font-size: fun.toRem(20);
    line-height: fun.toRem(20);
    color: con.$blueMedium;
    @include mix.mq(1023){
        font-size: fun.toRem(18);
        line-height: fun.toRem(18);
    }
}
.medium{
    font-family: con.$fMedium;
    font-size: fun.toRem(40);
    line-height: fun.toRem(40);
    color: con.$blueLight;
    @include mix.mq(1023){
        font-size: fun.toRem(20);
        line-height: fun.toRem(20);
    }
}

.parragraph{
    font-family: con.$fRegular;
    font-size: fun.toRem(20);
    line-height: fun.toRem(20);
    color: con.$blueMediuml;
    @include mix.mq(1023){
        font-size: fun.toRem(18);
        line-height: fun.toRem(18);
    }
}