@use '../base/functions' as fun;
@use '../base/config' as con; 
@use '../base/mixins' as mix;
.comic{
    width: 100%;
    min-height: calc(100vh - fun.toRem(360));
    padding: fun.toRem(80) 0;
    @include mix.mq(1023){
        margin: 0 0 fun.toRem(40);
    }
    & > h1{
        text-align: center;
        margin: 0 0 fun.toRem(80);
    }
    &__row{
        @include mix.mq(1024,min){
            display: grid;
            grid-template-columns: repeat(2 , 1fr);
            grid-gap: 50px;
            align-items: flex-start;
            height: 100%;
        }
    }
    &__left{
        height: 100%;
    }
    &__title{
        h2{
            margin: 0 0 fun.toRem(40);
        }
    }
    &__graphic{
        height: 100%;
        @include mix.mq(1023){
            margin: 0 0 fun.toRem(40);
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    &__numero{
        margin: 0 0 fun.toRem(40);
    }
    &__description{
        margin: 0 0 fun.toRem(40);
    }
    &__rate{
        height: fun.toRem(80);
        float: left;
        &:not(:checked){
            & > input{
                position:absolute;
                top:-9999px; 
            }
            & > label{
                display: inline-block;
                width: 1em;
                overflow: hidden;
                white-space: nowrap;
                cursor: pointer;
                font-size: fun.toRem(64);
                color: con.$gray;
                float: right;
                &::before{
                    content: '★ '; 
                }
                &:hover{
                    color: con.$yellow;
                    ~ label{
                        color: con.$yellow;
                    }
                }
            }
        }
        input{
            &:checked{
                ~ label{
                    color: con.$yellowDark;
                    &:hover{
                        color: con.$yellowMedium;
                        ~ label{
                            color: con.$yellowMedium;
                        } 
                    }
                } 
                + label{
                    &:hover{
                        color: #c59b08;
                        ~ label{
                            color: #c59b08;
                        } 
                    }
                }
            }
        }
    }
}