<template>
    <section class="comic">
        <h1 class="title">Comic Prueba</h1>
        <div class="container">
            <div v-if="comic.length === 0" class="comic__loader">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div v-else class="comic__row">
                <div class="comic__left">
                    <div class="comic__title">
                        <h2 class="subTitle">{{ comic.title }}</h2>
                    </div>
                    <div class="comic__graphic">
                        <img :src="comic.img" alt="">
                    </div>
                </div>
                <div class="comic__right">
                    <div class="comic__numero">
                        <p>
                            <strong class="small">Numero :</strong> <span class="parragraph">{{ comic.num }}</span>
                        </p>
                    </div>
                    <div class="comic__description">
                        <p class="parragraph">{{ comic.alt }}</p>
                    </div>
                    <h3 class="medium">
                        Califica el Comic
                    </h3>
                    <div class="comic__rate">
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script setup>
import { ref, onMounted, computed } from "vue";
import { useComicStore } from "../stores/comic";
const store = useComicStore();
const comic = computed(() => {
    return store.comic;
})
const comicRandom = () => {
    let random;
    let idRandom = Math.random();
    idRandom = idRandom * 100 + 1;
    idRandom = Math.trunc(idRandom);
    random = idRandom;
    return random;
}
onMounted(() => {
    store.fetchComic(comicRandom());
})
</script>