@use '../base/config' as con; 
@use '../base/functions' as fun; 
footer{
    width: 100%;
    height: fun.toRem(100);
    background-color: con.$blueDark;
    .container{
        display: flex;
        align-items: center;
        p{
            color: con.$white;
        }
    }
}