<script setup>
import Header from './components/Header.vue';
import Footer from './components/Footer.vue';
import Comic from './components/Comic.vue';
</script>

<template>

  <Header/>
  <Comic/>
  <Footer/>
  <main>
   
  </main>
</template>
